[Desktop Entry]
Icon=text-html
Name=https://commons.wikimedia.org/wiki/File:Angular_Parameters_of_Elliptical_Orbit.png
Type=Link
URL[$e]=https://commons.wikimedia.org/wiki/File:Angular_Parameters_of_Elliptical_Orbit.png
